.wrap{
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00f5a8;
  }
  
  .left-title h2{
    float: left;
  }
  
  h2,h3{ 
   font-weight: bold;
  }

  .name{
    margin-top: 0px;
  }
  
  .left-title h2{
    writing-mode: vertical-lr;
    font-size: 40px;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .left-title h3{
    writing-mode: vertical-lr;
    font-size: 20px;
    margin-right: 50px;
    font-weight: bold;
  }
  
  .right-card{
    width: 500px;
    height: 320px;
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #333;
    position: relative;
    overflow: hidden;
  }
  
  .right-card img{
    margin-bottom: 30px;
  }
  
  .right-card h3{
    margin-bottom: 30px;
    font-size: 24px;
    color: #629199;
  }
  
  .right-card h2{
    margin-bottom: 30px;
    margin-left: 130px;
    font-size: 40px;
    color: #005e4b;
  }
  
  .right-card p{
    line-height: 25px;
    color: #629199;
    font-weight: bold;
    font-size: 18px;
  }
  
  .box1{
    position: relative;
    width: 100px;
    height: 0;
    border-width: 0 50px 87px;
    border-style: solid;
    border-color: transparent transparent #00c178;
    top: -350px;
    right: -400px;
  }
  
  .box1:before{
    position: absolute;
    content: "";
    top: 86px;
    left: -50px;
    width: 100px;
    height: 0;
    background: none;
    border-width: 87px 50px 0;
    border-style: solid;    
    border-color: #00c178 transparent transparent;
  }
  
  .box2{
    position: relative;
    width: 50px;
    height: 0;
    border-width: 0 27px 45px;
    border-style: solid;
    border-color: transparent transparent #659d92;
    top: -305px;
    right: -338px;
  }
  
  .box2:before{
    position: absolute;
    content: "";
    top: 44px;
    left: -26px;
    width: 50px;
    height: 0;
    background: none;
    border-width: 45px 27px 0;
    border-style: solid;    
    border-color: #659d92 transparent transparent;
  }
  
  .box3{
    position: relative;
    width: 100px;
    height: 0;
    border-width: 0 50px 87px;
    border-style: solid;
    border-color: transparent transparent #00f5a8;
    top: -300px;
    right: -400px;
  }
  
  .box3:before{
    position: absolute;
    content: "";
    top: 86px;
    left: -50px;
    width: 100px;
    height: 0;
    background: none;
    border-width: 87px 50px 0;
    border-style: solid;    
    border-color: #00f5a8 transparent transparent;
  }
  